# -----------------------------
# Cross-platform Python C-extension helpers
# -----------------------------

script import lldb.macosx

# Aliases
command regex bp 's/(.*)/breakpoint set --name \1/'
command regex br 's/(.*)/breakpoint set --file \1/'
command alias bt thread backtrace -c 999
command alias bt5 thread backtrace -c 5
command alias fr frame select

# Show source context automatically
settings set stop-line-count-before 5
settings set stop-line-count-after 5

# Stop when shared libs load
settings set target.process.stop-on-sharedlibrary-events true
